doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title AngularJS App
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="css/style.css")
    body
        ul.menu
            li
                a(href="#/") Tabs and stuff
            li
                a(href="#/about") About
        div(ng-view="")
        script(src="bower_components/angular/angular.js")
        script(src="bower_components/angular-animate/angular-animate.js")
        script(src="bower_components/angular-route/angular-route.js")
        script(src="js/main.js")
